<p>
        
        <form class="eingabeform" id="quiz" action="/game" method="POST">
            <div class="raetselcontainer" style="margin-top: 20px;">
            
                
                    <label class="raetselopt" for="raetselantwort-A">Der Prinz ist 20 und die Prinzessin ist 30.
                    <input type="radio" name="raetselantwort" id="raetselantwort-A" value="A">
                    <span class="auswahl"></span></label>
                    
                    <label class="raetselopt" for="raetselantwort-B">Der Prinz ist 40 und die Prinzessin ist 30.
                    <input type="radio"name="raetselantwort" id="raetselantwort-B" value="B">
                    <span class="auswahl"></span></label>
                
                    <label class="raetselopt" for="raetselantwort-C">Der Prinz ist 30 und die Prinzessin ist 40.
                    <input type="radio" name="raetselantwort" id="raetselantwort-C" value="C">
                    <span class="auswahl"></span></label>
               
                    <label class="raetselopt" for="raetselantwort-D">Der Prinz ist 30 und die Prinzessin ist 20.
                    <input type="radio" name="raetselantwort" id="raetselantwort-D" value="D">
                    <span class="auswahl"></span></label>
                
                    <label class="raetselopt" for="raetselantwort-E">Beide sind gleichaltrig.
                    <input type="radio" name="raetselantwort" id="raetselantwort-E" value="E">
                    <span class="auswahl"></span></label>
               
                    <label class="raetselopt" for="raetselantwort-F">Ich weiss es wirklich nicht.
                    <input type="radio" name="raetselantwort" id="raetselantwort-F" value="F">
                    <span class="auswahl"></span></label>
               
            <br>
            
            <button class="button" style="position:unset;" type="submit">Das ist meine Antwort</button>
            </div>
        </form>
    
</p>